Tools

AuthService/src/AuthService.API/bin
AuthService/src/AuthService.API/appsettings.Development.json
AuthService/src/AuthService.API/appsettings.json
AuthService/src/AuthService.Application/bin
AuthService/src/AuthService.Domain/bin
AuthService/src/AuthService.Infrastructure/bin

CertificateService/src/CertificateService.API/bin
CertificateService/src/CertificateService.API/appsettings.Development.json
CertificateService/src/CertificateService.API/appsettings.json
CertificateService/src/CertificateService.Application/bin
CertificateService/src/CertificateService.Domain/bin
CertificateService/src/CertificateService.Infrastructure/bin

CommentService/src/CommentService.API/bin
CommentService/src/CommentService.API/appsettings.Development.json
CommentService/src/CommentService.API/appsettings.json
CommentService/src/CommentService.Application/bin
CommentService/src/CommentService.Domain/bin
CommentService/src/CommentService.Infrastructure/bin

Gateway/src/Gateway.API/bin
Gateway/src/Gateway.API/appsettings.Development.json
Gateway/src/Gateway.API/appsettings.json
Gateway/src/Gateway.Application/bin
Gateway/src/Gateway.Domain/bin
Gateway/src/Gateway.Infrastructure/bin

PostService/src/PostService.API/bin
PostService/src/PostService.API/appsettings.Development.json
PostService/src/PostService.API/appsettings.json
PostService/src/PostService.Application/bin
PostService/src/PostService.Domain/bin
PostService/src/PostService.Infrastructure/bin